html {
  box-sizing: border-box;
  font-family: monospace;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #ffca75;
  color: #2f4f36;
  margin: 0px;
}

body h1 span {
  font-style: italic;
}